extend _layout

block main
	.container
		.starter-template
			h1 gulpstrap
			p.lead A demo for 'Development Environments for Web Designers'.
			p Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
